{% use 'bootstrap_3_layout.html.twig' %}

{# Rows #}

{% block gdbots_pbjx_date_picker_row -%}
  {% if widget == 'single_text' %}
    <div class="form-group{% if force_error|default(false) and not valid %} has-error{% endif %}">
      {{- form_label(form) -}}
      <div class="input-group">
        <div class="input-group-addon"><i class="icon-calendar22"></i></div>
        {{- form_widget(form) -}}
        <div class="input-group-btn">
          <button type="button" class="btn btn-default js-clear-btn" data-target="#{{ form.vars.id }}" title="Clear Date"><i class="icon-cross2"></i></button>
        </div>
      </div>
      {{- form_errors(form) -}}
    </div>
  {% else %}
    {{ block('date_row') }}
  {% endif %}
{%- endblock gdbots_pbjx_date_picker_row %}

{% block gdbots_pbjx_datetime_picker_row -%}
  {% if widget == 'single_text' %}
    <div class="form-group{% if force_error|default(false) and not valid %} has-error{% endif %}">
      {{- form_label(form) -}}
      <div class="input-group">
        <div class="input-group-addon"><i class="icon-calendar22"></i></div>
        {{- form_widget(form) -}}
        <div class="input-group-btn">
          <button type="button" class="btn btn-default js-clear-btn" data-target="#{{ form.vars.id }}" title="Clear Date"><i class="icon-cross2"></i></button>
        </div>
      </div>
      {{- form_errors(form) -}}
    </div>
  {% else %}
    {{ block('datetime_row') }}
  {% endif %}
{%- endblock gdbots_pbjx_datetime_picker_row %}

{# Widgets #}

{% block gdbots_pbjx_collection_widget -%}
  {% if prototype is defined %}
    {% set prototype_html = _self.collection_item_prototype(form) %}
  {% endif %}

  {% set id = id ~ '_collection' %}
  {% set prototype_name = form.vars.prototype_name %}

  <div class="row-collection">
    <div {{ block('widget_container_attributes') }}
      data-last-index="{{ form.children|length}}"
      data-row-count-add="{{ form.vars.row_count_add }}"
      data-prototype-name="{{ prototype_name }}"
      {% if prototype_html is defined %}
        data-prototype="{{ prototype_html|escape }}"
      {% endif %}
    >
      {% if form.children|length %}
        {% for child in form.children %}
          {{ _self.collection_item_prototype(child) }}
        {% endfor %}
      {% elseif show_form_when_empty and prototype_html is defined %}
        {% for i in 0..(form.vars.row_count_initial - 1) %}
          {{ prototype_html|replace({(prototype_name): i})|raw }}
        {% endfor %}
      {% endif %}
    </div>

    {% if allow_add %}
      <button class="btn btn-action js-btn-add-collection-item-btn" type="button">+ Add</button>
    {% endif %}
  </div>

  {{ _self.collection_js(id) }}
{% endblock gdbots_pbjx_collection_widget -%}

{% block gdbots_pbjx_dynamic_field_widget -%}
  <div class="row">
    <div class="col-md-5">
      {{- form_widget(form.name, {'attr': {
        'class': 'input-sm',
        'placeholder': 'Name'
      }}) -}}
    </div>
    <div class="col-md-2">
      {{- form_widget(form.kind, {'attr': {
        'class': 'input-sm'
      }}) -}}
    </div>
    <div class="col-md-5">
      {{- form_widget(form.value, {'attr': {
        'class': 'input-sm',
        'placeholder': 'Value'
      }}) -}}
    </div>
  </div>
{%- endblock gdbots_pbjx_dynamic_field_widget %}

{% block gdbots_pbjx_geo_point_widget -%}
  <div class="row">
    <div class="col-md-6">
      {{- form_widget(form.latitude, {'attr': {
        'class': 'input-sm',
        'placeholder': 'Latitude'
      }}) -}}
    </div>
    <div class="col-md-6">
      {{- form_widget(form.longitude, {'attr': {
        'class': 'input-sm',
        'placeholder': 'Longitude'
      }}) -}}
    </div>
  </div>
{%- endblock gdbots_pbjx_geo_point_widget %}

{% block gdbots_pbjx_date_picker_widget -%}
  {% if widget == 'single_text' %}
    {%- set attr = attr|merge({
      'placeholder': attr.placeholder|default('Click to select a date.'),
      'readonly': attr.readonly|default(true)
    }) -%}

    {{ _self.daterangepicker_js(form) }}
  {% endif %}

  {{ block('date_widget') }}
{%- endblock gdbots_pbjx_date_picker_widget %}

{% block gdbots_pbjx_datetime_picker_widget -%}
  {% if widget == 'single_text' %}
    {%- set attr = attr|merge({
      'placeholder': attr.placeholder|default('Click to select a date.'),
      'readonly': attr.readonly|default(true)
    }) -%}

    {{ _self.daterangepicker_js(form) }}
  {% endif %}

  {{ block('datetime_widget') }}
{%- endblock gdbots_pbjx_datetime_picker_widget %}

{# Macro #}

{% macro collection_item_prototype(widget) %}
  {% if 'collection' in widget.vars.block_prefixes %}
    {% set form = widget.vars.prototype %}
    {% set name = widget.vars.prototype.vars.name %}
    {% set disabled = widget.vars.disabled %}
    {% set allow_delete = widget.vars.allow_delete %}
  {% else %}
    {% set form = widget %}
    {% set name = widget.vars.full_name %}
    {% set disabled = widget.parent.vars.disabled %}
    {% set allow_delete = widget.parent.vars.allow_delete %}
    {% if widget.vars.allow_delete is defined %}
      {% set allow_delete = allow_delete and widget.vars.allow_delete %}
    {% endif %}
  {% endif %}

  <div data-content="{{ name }}">
    <div class="row {% if not allow_delete %} not-removable{% endif %}">
      <div class="col-md-{% if allow_delete %}11{% else %}12{% endif %}">
        {{ form_widget(form, {disabled: disabled}) }}
      </div>

      {% if allow_delete %}
        <div class="col-md-1">
          <button class="btn btn-action btn-link js-btn-remove-collection-item-btn" type="button" data-related="{{ name }}">×</button>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro collection_item_prototype %}

{# JS #}

{% macro collection_js(id) -%}
  <script type="text/javascript">
    var wbq = wbq || [];
    wbq.push(function initCollection_{{ id }}() {
      require(['bundles/gdbotspbjx/js/behaviors/collection'], function(collection) {
        collection('{{ id }}');
      });
    });
  </script>
{%- endmacro collection_js %}

{% macro daterangepicker_js(widget) -%}
  <script type="text/javascript">
    var wbq = wbq || [];
    wbq.push(function initDateRangePicker_{{ widget.vars.id }}() {
      require(['bundles/gdbotspbjx/js/behaviors/date-range-picker'], function(dateRangePicker) {
        dateRangePicker(
          '{{ widget.vars.id }}',
          '{{ widget.vars.type }}',
          {{ widget.vars.js_options|default('{}')|json_encode|raw }},
          {{ widget.vars.js_callback|default('function(){}')|raw }}
        );
      });
    });
  </script>
{%- endmacro daterangepicker_js %}
